@import "../styles/variables";

.Benefits {
  width: 95%;
  margin: 5% auto;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 9px 20px 19px rgba(0, 0, 0, 0.3);

  @media (max-width: 768px) {
    width: auto;
  }

  h1 {
    font-size: 2.5rem;
    font-weight: 800;
    color: $soft-navy;
    margin: 1% 0px;
  }

  .cards {
    display: flex;
    flex-direction: column;

    //  @media (max-width: 768px) {
    //     flex-direction: column;
    //   }

    .card {
      width: 100%;
      height: 100%;
      margin: 2%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;

      @media (max-width: 768px) {
        width: auto;
        display: flex;
        flex-direction: column;
      }

      .card-image {
        width: 30%;
        height: 100%;
        margin: 2%;
        @media (max-width: 768px) {
          width: auto;
        }

        img {
          width: 90%;
          border-radius: 7%;
        }
      }

      .card-content {
        width: 50%;
        height: 100%;
        margin: 2%;
        padding: 8% 3%;

        @media (max-width: 768px) {
          width: auto;
        }

        h2 {
          font-size: 1.5rem;
          font-weight: 700;
          color: $soft-navy;
          @media (max-width: 768px) {
            font-size: 1.7rem;
          }
        }

        p {
          font-size: 1rem;
          font-weight: 500;
          color: $text-color;
          @media (max-width: 768px) {
            font-size: 1.2rem;
          }
        }
      }
    }

    .reverse {
      @media (max-width: 768px) {
        flex-direction: column-reverse;
      }
    }
  }
}
