@import "./variables";

.hero {
  width: auto;
  .background-image {
    background-image: url("../assets/HeroBackground1.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: auto;
    height: 100%;
    margin: 0%;
    padding: 5% 0%;

    @media (max-width: 768px) {
      background-size: auto;
    }
  }

  .hero-content {
    position: relative;
    width: 96%;
    height: 50%;
    margin: 5% 0;
    padding: 2%;
    background-color: rgba(236, 240, 241, 0.7);

    h1 {
      font-size: 3.5rem;
      font-weight: 800;
      color: $soft-navy;
      margin: 1% 0px;

      @media (max-width: 768px) {
        font-size: 1.7rem;
        font-weight: 800;
      }
    }

    h3 {
      font-size: 2rem;
      font-weight: 600;
      color: $muted-teal;
      margin: 1% 0px;
      @media (max-width: 768px) {
        font-size: 1.3rem;
        font-weight: 800;
      }
    }

    h4 {
      font-size: 1.2rem;
      font-weight: 500;
      color: $dark-gray;
      margin: 1.5% 0px;
    }
  }

  button {
    border-radius: 10px;
    padding: 7px 15px;
    height: fit-content;
    color: #fff;
    background-color: $soft-navy;
    border: none;
    font-family: Inter, "IBM Plex Sans Arabic", sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
  }
}
