@import './styles/variables';

body{
  background-color: $background-color;
}

.navbar {
  background-color: $background-color;
  padding: 0.5rem;
  height: auto;
  display: flex;
  justify-content: start;

  .navbar-logo {
    img {
      width: 50px;
    }
  }

  button{
    border-radius: 10px;
    margin: 1rem;
    padding: 5px 15px;
    height: fit-content;
    color: #fff;
    background-color: $soft-navy;
    border: none;
    font-family: Inter, 'IBM Plex Sans Arabic', sans-serif;
  }

  .navbar-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    @media (max-width: 2400px){
      flex-direction: row;
      .button-in {
        display: none;
      }
    }
    @media (max-width: 768px){
      flex-direction: column;
      .button-in {
        display: block;
      }
    }
  }

  .navbar-links {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 1rem;

    li {
      a {
        color: $text-color;
        text-decoration: none;
        font-size: 1rem;
        transition: color 0.3s ease;

        &:hover {
          color: darken($soft-coral, 10%);
        }
      }
    }
  }

  .menu-icon {
    display: none;
    @media (max-width: 768px) {
      display: flex;
      justify-content: flex-end;
      font-size: 2rem;
      color: $soft-navy;
      cursor: pointer;

    }
  }

  @media (max-width: 768px) {
    flex-direction: row;
    align-items: flex-start;

    .button-out {
      display: none;
    }

    .navbar-links {
      display: none;
    }

    .dropdown-active {
      display: flex;
      flex-direction: column;

      animation: dropdown 0.5s ease forwards;

      li {
        width: 100%;
        text-align: center;
        margin: 0;

        a {
          display: block;
          padding: 1rem;
          border-bottom: 1px solid #fff;
        }
      }
    
    }
  }
}
