body {
  margin: 0;
  font-family: Inter, 'IBM Plex Sans Arabic', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
